In [1]:
import sqlite3

In [2]:
connection=sqlite3.connect('example.db')
connection

In [3]:
cursor=connection.cursor()

In [4]:
cursor.execute('''
    Create table If Not Exists employees(
               if Integer Primary Key,
               name Text Not NULL,
               age Integer,
               department text

               )
''')
connection.commit()

In [5]:
cursor.execute(
    '''
    Select * from employees
'''
)

In [6]:
cursor.execute(

    '''
    Insert Into employees(name,age,department)
    values('Naga',21,'Ai Enginer')
'''
)
cursor.execute(

    '''
    Insert Into employees(name,age,department)
    values('Vinay',21,'Ai Enginer')
'''
)
cursor.execute(

    '''
    Insert Into employees(name,age,department)
    values('Avvaru',21,'Ai Enginer')
'''
)
connection.commit()

In [7]:
cursor.execute('Select * from employees')
rows=cursor.fetchall()


for row in rows:
    print(row)

(2, 'Vinay', 21, 'Ai Enginer')
(3, 'Avvaru', 21, 'Ai Enginer')
(4, 'Naga', 21, 'Ai Enginer')
(5, 'Vinay', 21, 'Ai Enginer')
(6, 'Avvaru', 21, 'Ai Enginer')
(7, 'Naga', 21, 'Ai Enginer')
(8, 'Vinay', 21, 'Ai Enginer')
(9, 'Avvaru', 21, 'Ai Enginer')
(10, 'Naga', 21, 'Ai Enginer')
(11, 'Vinay', 21, 'Ai Enginer')
(12, 'Avvaru', 21, 'Ai Enginer')

In [8]:
cursor.execute(
    '''
    Delete from employees 
    where name in ('Naga','Vinay','Avvaru')
'''
)